### Importing libraries

In [3]:
import pandas as pd 
import numpy as np 
import pycountry

### Importing the University rankings in 2023 csv file

In [4]:
#importing the csv file
data = pd.read_csv("C:/Users/IMMAN.S.C.OGAL/Downloads/african-university-rankings/ScimagoIR 2023 - Overall Rank - Universities - Africa.csv" )

In [5]:
data.shape

(264, 6)

In [6]:
data.head(10)

,Rank,Global Rank,Institution,Country,Sector,Best Country Quartile
0,1,995,University of Cape Town,ZAF,Universities,1.0
1,2,1125,Cairo University *,EGY,Universities,1.0
2,3,1467,Stellenbosch University,ZAF,Universities,1.0
3,4,1565,University of the Witwatersrand,ZAF,Universities,1.0
4,5,1629,University of Pretoria,ZAF,Universities,1.0
5,6,1843,University of KwaZulu-Natal *,ZAF,Universities,1.0
6,7,2506,Ain Shams University *,EGY,Universities,1.0
7,8,2630,Alexandria University *,EGY,Universities,1.0
8,9,2655,University of Johannesburg,ZAF,Universities,1.0
9,10,2927,Mansoura University *,EGY,Universities,1.0

In [7]:
data.describe()

             Rank  Global Rank  Best Country Quartile
count  264.000000   264.000000             263.000000
mean   132.420455  6503.185606               1.688213
std     76.321521  1529.420641               0.900453
min      1.000000   995.000000               1.000000
25%     66.750000  5759.500000               1.000000
50%    132.500000  6860.000000               1.000000
75%    198.250000  7736.750000               2.000000
max    264.000000  8421.000000               4.000000

In [8]:
data["Sector"].unique()

array(['Universities', nan], dtype=object)

In [9]:
data['Sector'].value_counts()

Universities    263
Name: Sector, dtype: int64

In [10]:
data = data.set_index('Rank')

In [11]:
data = data.drop(['Sector','Best Country Quartile'],axis=1)
data

      Global Rank                                       Institution Country
Rank
1             995                           University of Cape Town     ZAF
2            1125                                Cairo University *     EGY
3            1467                           Stellenbosch University     ZAF
4            1565                   University of the Witwatersrand     ZAF
5            1629                            University of Pretoria     ZAF
...           ...                                               ...     ...
260          8386  Ecole Nationale Superieure d'Ingenieurs de Tunis     TUN
261          8389                   Universite Yahia Fares de Medea     DZA
262          8402                            Universite de Kairouan     TUN
263          8418               Universite Abbes Laghrour Khenchela     DZA
264          8421                    Ecole Polytechnique de Tunisie     TUN

[264 rows x 3 columns]

#### Splitting the dataframe into multiple dataframes i.e. The top 50 universities , the 2nd top 50 universities
- Creating sub-lists
- Changing the dataframes to  lists

In [180]:
from random import choice

data_list = data.values.tolist()

def univ_rank():
    univ_list = [data_list[x:x+k] for x in range(0, len(data_list), k)]
    random_elements = [choice(sublist) for sublist in univ_list]
    return random_elements

k = 5

In [199]:
from random import sample, choice

data_list = data.values.tolist()

def univ_rank(): 
    univ_list = [data_list[x:x+k] for x in range(0, len(data_list), k)] # k is number of elements in the sub list
    #choosing  random sub lists
    random_sublist = sample(univ_list, m)  # m is number of random sub-lists
    # random elements from all sub lists
    random_elements = [sample(sublist,n) for sublist in univ_list]#n is the number of random elements picked from the sub list
    
    return  random_sublist

k = 10
m = 4
n = 3

In [201]:
univ_rank()

[[[4955, 'Kwame Nkrumah University of Science and Technology', 'GHA'],
  [4994, 'Universite Hassan II de Casablanca *', 'MAR'],
  [5000, 'Haramaya University', 'ETH'],
  [5005, 'Egyptian Russian University', 'EGY'],
  [5065, 'University of Nairobi', 'KEN'],
  [5080, 'Misr International University', 'EGY'],
  [5097, 'Landmark University', 'NGA'],
  [5104, 'Debre Markos University', 'ETH'],
  [5188, 'Pharos University in Alexandria', 'EGY'],
  [5231, 'Kenyatta University', 'KEN']],
 [[7999, 'Universite de Lome', 'TGO'],
  [8026, 'Universite de Batna 2', 'DZA'],
  [8026, 'Ekiti State University', 'NGA'],
  [8035, 'Universite Kasdi Merbah Ouargla', 'DZA'],
  [8049, 'Institut Superieur de Gestion de Tunis', 'TUN'],
  [8051,
   'Universite Mohamed El Bachir El Ibrahimi de Bordj Bou Arreridj',
   'DZA'],
  [8092, 'Ecole Militaire Polytechnique', 'DZA'],
  [8096, 'Ecole Nationale des Sciences Appliquees de Agadir', 'MAR'],
  [8108, 'Universite de Bechar', 'DZA'],
  [8114, 'Universite de Maroua', 'CMR']],
 [[7843, 'Federal University Oye Ekiti', 'NGA'],
  [7858, 'Federal University of Technology Owerri', 'NGA'],
  [7872, 'Universite Badji Mokhtar - Annaba', 'DZA'],
  [7884, 'Universite de Douala', 'CMR'],
  [7890, 'Universite Mohamed Khider de Biskra', 'DZA'],
  [7897, 'Faculte des Sciences de Bizerte', 'TUN'],
  [7899, 'Universite de Parakou', 'BEN'],
  [7908, 'Ecole Nationale Polytechnique', 'DZA'],
  [7915, 'Delta State University', 'NGA'],
  [7926, 'Universite Hassan 1er *', 'MAR']],
 [[7147, 'Institut National des Sciences Appliquees et de Technologie', 'TUN'],
  [7147, 'Universite d Abomey Calavi', 'BEN'],
  [7152, 'Universite Felix Houphouet-Boigny', 'CIV'],
  [7158, 'Walter Sisulu University', 'ZAF'],
  [7168, 'Universite de Jendouba', 'TUN'],
  [7185, 'Military Technical College', 'EGY'],
  [7193, 'University of Education', nan],
  [7207, 'Cape Peninsula University of Technology', 'ZAF'],
  [7220, 'Universite de Ngaoundere', 'CMR'],
  [7223, 'University of Dodoma', 'TZA']]]

#### We get two random universities from every of the six sub-lists that are grouped in order of their ranks in 50's,  except for the  sublist_6 that has 14 universities

In [1]:
from africa_univ_rank import univ_rank

ModuleNotFoundError: No module named 'africa_univ_rank'